
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Raleway:ital,wght@0,300;0,500;0,600;1,500&display=swap');


*{
    color:#D6D6D6;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
html {
  scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    margin:2px;
}
a{
  text-decoration: none;
  color:#BBBBBB;
}


.nav{
    padding: 20px 40px;
    display:grid;
  
    grid-template-columns: auto 50px 50px 50px;


}
.home_hero{
  padding: 20vh 10% 0px 10%;
  height: 75vh;
  
}

.home_vid{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 90%;
  min-height: 90%;
  z-index: -10;

}
#hello{
  font-size: 8rem;
  text-transform: none;
  font-weight: 600;
  letter-spacing: initial;
}

.prob-joy{
  font-family: 'Bitter', sans-serif;
  font-size: inherit;
  text-transform: none;
  font-weight: 500;
  letter-spacing: initial;
  font-style: italic;
}


#description{
  font-size: 2.4rem;
}

.scroll{
 margin-top:10vh;
}



.dribbble_icon,.linkedin_icon, .github_icon{
  transition: fill 0.5s;
}

.dribbble:hover .dribbble_icon{
  fill:#ea4c89;
}

.linkedin:hover .linkedin_icon{
  fill:#0a66c2;
}
.github:hover .github_icon{
  fill:#fff;
}

h1{
  font-size: 3.157rem;
  font-weight: 500;
  line-height: 3.3rem;

}


h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.33rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-size: 1.33rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
 
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.33rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top:5px;

}

.p-small{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.caption{
   font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0%;
}

/* scrollbar styles
#projects::-webkit-scrollbar {
    height: 5px;
  }
  

  #projects::-webkit-scrollbar-track {
    background: #000000; 
  }
   

  #projects::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 20px;
  }
  

  #projects::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
  }  */

#projects {
    padding:15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    overflow-y:auto ;
    width: 95%;

  }

  .thumb{
      
      margin-bottom: 10px;
      width: 95%;
    height: auto;
    max-width: 400px;
  
     
  }
  .card{
    margin:0 10px;
    text-align: center;
    margin:0px 20px 40px 20px;
    transition: transform 0.3s ease-out;
  }

  .card h2{
  
    transition: color 0.3s ease-out;
  }



  .thumb{
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-out;
  }

  .card:hover .thumb{
    -webkit-box-shadow: 0px 0px 7px 3px rgba(122,122,122,0.6);
    -moz-box-shadow: 0px 0px 7px 3px rgba(122,122,122,0.6);
    box-shadow: 0px 0px 7px 3px rgba(122,122,122,0.6);
  
  }

  .card:hover h2{
    color:#ffffff;
  }

  .card:hover{
    transform:translateY(-5px);
  }

  .footer{
    padding:5px 40px;
    color:#F2F2F2;
  }


  @media only screen and (max-width: 768px) {
    .footer{
      text-align: center;
    }
  }



  @media only screen and (max-width: 1510px) {
    #projects {
      grid-template-columns: 0.9fr 0.9fr 0.9fr !important;
    }
  }

  @media only screen and (max-width: 1020px) {
    #projects {
      grid-template-columns: 1fr 1fr !important;
    }
  }

  @media only screen and (max-width: 530px) {
    #projects {
      grid-template-columns: 1fr !important;
    }
  }




  